<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" th:href="@{/}">Autobaze</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" th:href="@{/userInfo}">Home</a>
                </li>
                <li th:if="${roles.contains('ROLE_ADMIN')}" class="nav-item">
                    <a class="nav-link active text-white" th:href="@{/cars/get}">Cars</a>
                </li>
                <li th:if="${roles.contains('ROLE_ADMIN')}" class="nav-item">
                    <a class="nav-link active text-white" th:href="@{/drivers/get}">Drivers</a>
                </li>
                <li th:if="${roles.contains('ROLE_ADMIN')}" class="nav-item">
                    <a class="nav-link active text-white" th:href="@{/requests/get}">Requests</a>
                </li>
            </ul>
        </div>
    </div>
</nav>