<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Customers Get </title>
    <style>

    </style>
</head>
<body>
<table border = "1">

    <a href="/createCarPage">Создать автомобиль</a>

    <tr>
        <th>Ёмкость (Ф)</th>
        <th>Грузоподьёмность (кг)</th>
        <th>Состояния автомобиля</th>
    </tr>
    <tr th:each = "car : ${cars}">
        <td th:utext="${car.capacity}">...</td>
        <td th:utext="${car.currentLoad}">...</td>

        <div th:if="${car.broken == true}">
            <td>Поломан</td>
        </div>
        <div th:if="${car.broken == false}">
            <td>Целый</td>
        </div>
    </tr>
</table>

</body>
</html>